<div>
    <h2 style="text-align: center;">A little about me.</h2>
</div>
<div style="margin: 50px">
    <p>
        My name is Preston Percival and I am a Software Engineer working in the energy industry. I graduated college
        with
        a degree in Computer Engineering from Texas A&M University and went on to work for Tenaska Power Services Co. in
        Las Colinas, Texas. I currently live in Dallas, Texas, but I grew up in Abilene, Texas and Fort Worth, Texas. I have a sister who works in Austin, Texas and my parents
        live in Fort Worth which is nice
        because I can see them frequently.
    </p>
    <p>
        In my free time I enjoy rock climbing, working out, playing disc golf, hunting, and working on software side
        projects to test out
        new technologies. I think it is a good thing to have hobbies separate from your profession. While I do enjoy
        taking on software side projects, like my personal website, I believe my other hobbies make me a well-rounded
        person and help to combat any burnout I might experience in my industry.
    </p>
    <p>
        Looking forward into the future, I would like to eventually become a CTO of large tech company helping to make
        architectural and design choices using my technology and business knowledge. I am currently pursing an MBA from
        the University of Texas at Austin to help realize that dream.
    </p>
</div>