<!--The content below is only a placeholder and can be replaced.-->
<div style="background-image: url('../assets/background.png')">
<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#news">Projects</a>
  <a href="#contact">Resume</a>
  <a href="#about">About</a>
  <span class="title">Welcome to my website!</span>
</div>
  <br/>
  <br/>
  <br/>
  <div style="max-width: 40%; min-width: 750px; margin: auto; display: block; background-color: white; overflow:auto;">
      <img style="float: left; max-width: 40%;" src="../assets/headshot.jpg" />
      <div style="height: 100%; color: rgb(9, 100, 96); margin-left: 50%;">
        <br/>
        <h1 style="margin-bottom: 0%; margin-top: 0%;">Preston Percival</h1>
        <h3 style="margin-bottom: 0%; margin-top: 0%;">Software Engineer</h3>
        <h4 style="margin-bottom: 0%;">Email:</h4>
        <h5 style="margin-top: 0%;">********@gmail.com</h5>
        <h4 style="margin-bottom: 0%;">Phone number:</h4>
        <h5 style="margin-top: 0%;">***-***-****</h5>
        <h4 style="margin-bottom: 0%;">Location:</h4>
        <h5 style="margin-top: 0%;">Dallas-Fort Worth, Texas</h5>
      </div>
  </div>
</div>
<div>
  <p>Hi! I'm Preston, welcome to my website!</p>
</div>
<!--
<div style="float:left">
  <h1>Preston Percival</h1>
</div>
<div style="float:right">
  <img src="../assets/headshot.jpg" style="max-width:25%; max-height:auto;"/>
</div>
<div style="clear:both"></div>
-->

