<!--<div class="topnav">
  <a routerLink="/home">Home</a>
  <a routerLink="/projects">Projects</a>
  <a routerLink="/resume">Resume</a>
  <a routerLink="/about">About</a>
  <span class="title">Welcome to my website!</span>
</div>-->

<!--<mat-tab-group backgroundColor="primary" #tabGroup>
  <mat-tab label="Home">
    <div class="title">Welcome to my website!</div>
    <app-home *ngIf="tabGroup.selectedIndex === 0"></app-home>
  </mat-tab>
  <mat-tab label="Projects">
    <app-projects *ngIf="tabGroup.selectedIndex === 1"></app-projects>
  </mat-tab>
  <mat-tab label="Resume">
    <app-resume *ngIf="tabGroup.selectedIndex === 2"></app-resume>
  </mat-tab>
  <mat-tab label="About">
    <app-about *ngIf="tabGroup.selectedIndex === 3"></app-about>
  </mat-tab>
</mat-tab-group>-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a routerLink="/navigation/home" class="buttonLogout">Home</a>
    <a routerLink="/navigation/projects" class="buttonLogout">Projects</a>
    <a routerLink="/navigation/resume" class="buttonLogout">Resume</a>
    <a routerLink="/navigation/about" class="buttonLogout">About</a>
    <span style="flex: auto;"></span>
    <button (click)="logout()" class="buttonLogout">Logout</button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
<p style="position: fixed; bottom: 0; width:100%; text-align: center;">Copyright © 2019 Preston Percival. All rights reserved.</p>

