<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a routerLink="/navigation/home" class="buttonLogout">Home</a>
    <a routerLink="/navigation/projects" class="buttonLogout">Projects</a>
    <a routerLink="/navigation/resume" class="buttonLogout">Resume</a>
    <a routerLink="/navigation/about" class="buttonLogout">About</a>
    <span style="flex: auto;"></span>
    <button (click)="logout()" class="buttonLogout">Logout</button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>

