<!--<div *ngIf="isUserAuthenticated()">
    <div style="background-image: url('../assets/background.png')">
        <br/>
        <br/>
        <br/>
        <div style="max-width: 50%; min-width: 375px; margin: auto; display: block; background-color: white; overflow:auto;">
        <img style="float: left; max-width: 40%;" src="../assets/headshot.jpg" />
        <div style="height: 100%; margin-left: 50%;">
            <br/>
            <h1 style="margin-bottom: 0%; margin-top: 0%;">Preston Percival</h1>
            <h3 style="margin-bottom: 0%; margin-top: 0%;">Software Engineer</h3>
            <h4 style="margin-bottom: 0%;">Email:</h4>
            <h5 style="margin-top: 0%;">********@gmail.com</h5>
            <h4 style="margin-bottom: 0%;">Phone number:</h4>
            <h5 style="margin-top: 0%;">***-***-****</h5>
            <h4 style="margin-bottom: 0%;">Location:</h4>
            <h5 style="margin-top: 0%;">Dallas-Fort Worth, Texas</h5>
        </div>
        </div>
    </div>
    <div style="max-width: 50%; min-width: 375px; height: 50px; background: rgb(9, 100, 96); margin: auto; text-align:center;">
        <a href="https://www.linkedin.com/in/preston-percival-89a557103">
        <img style="height: 45px; width: 45px; border: 0;" src="../assets/linkedin.png" />
        </a>
    </div>
    <div style="text-align:center; max-width: 60%; margin: auto;">
        <br/>
        <p style="font-size:30px;">
            Hello! I'm Preston
        </p>
        <br/>
        <p style="font-size:20px;">
            I am a software engineer that graduated from Texas A&M University with a degree in Computer Engineering. 
            I currently work as a .NET Developer at Tenaska Power Services Co. This website showcases several of my projects I have worked on over the years.
        </p>
        <p style="font-size:25px;">
            Enjoy!
        </p>
    </div>
</div>
<ul>
    <li><a routerLink="/customers">Customer</a></li>
    <li *ngIf="!isUserAuthenticated()"><a routerLink="/login">Login</a></li>
    <li *ngIf="isUserAuthenticated()"><a class="logout" (click)="logOut()">Logout</a></li>
</ul>-->

<h1>Home Page</h1>

<br>
<div>
  <h2>
    YOU ARE LOGGED IN
  </h2>
</div>

<br>
<ul>
  <li><a routerLink="/customers">Customer</a></li>
  <li *ngIf="!isUserAuthenticated()"><a routerLink="/login">Login</a></li>
  <li *ngIf="isUserAuthenticated()"><a class="logout" (click)="logOut()">Logout</a></li>
</ul>